<p id="notice"><%= notice %></p>
<div class="pricing-header px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center">
  <h1 class="display-4">Templates</h1>
  <p class="lead">Add new Template, please make sure you upload a valid HTML template. To validate template please refer <a href="https://validator.w3.org/" target="_blank">W3C</a>.</p>
</div>

<%= render 'form', template: @template %>

<%= link_to 'Show', @template %> |
<%= link_to 'Back', templates_path %>
