<div class="header">
  <a href="/" class="logo"><img class='logo' src='/assets/fa.png' alt='ForgeAhead Solutions'></a>
  <div class="header-right">
    <a href="#contact">Contact</a>
    <a href="#about">About</a>
  </div>
</div>
